body{
    font-family: Roboto, "Times New Roman";
    /* add a background color */
    background-color: rgb(206, 193, 193);
    text-align: center;
}

body::after {
    content: "";
    background: 
        linear-gradient(
            rgba(0, 0, 0, 0.7), 
            rgba(0, 0, 0, 0.7)
        ),
        url('https://images.freecreatives.com/wp-content/uploads/2015/03/Huge-Backgrounds-17.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.4;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
}

.Nav-Bar{
    display: flex;
    justify-content: space-around;
    background-color: beige;
    color: red;
    padding: 15px;
    margin: 0;
    margin-bottom: 80px;
    width: 100%;
    box-sizing: border-box;
}

.Nav-Bar a{
    text-decoration: none;
    font-size: 16px;
    
}

h1 {
    font-size: 3rem;
    margin-bottom: 0;
    margin-top: 0; 
}

p{
    font-size: 1.5em;
    font-weight: 500;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.pictures {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
    gap: 20px; 
  }
  
  .pictures img {
    width: 100%;
    height: auto;
  }
  
